/////
// Global
////

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $black;
  background-image: url('../images/body-bg.png');
  color: $white;
  font-family: 'Open Sans', sans-serif;
}

.case-study-wrap {
  overflow-x: hidden;
}

.facet-logo {
  max-height: 55px;
  vertical-align: middle;
}

.menu {
  display: flex;
  top: 0;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  position: fixed;
  z-index: 10;
  background-color: rgba($color: $black, $alpha: 0.7);

  ul {
    list-style: none;

    li {
      display: inline-block;
    }
  }
}

a {
  color: $blue;
}

.block-title {
  background: $white;
  padding: 10px 20px;
  color: $black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  text-align:  center;
  display: inline-block;
  position: relative;

  &__bg {
    position: relative;
  }

  &__bg {
    background-image: url('../images/poly-shape-blue.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
    display: flex;
    align-items: center;
    position: relative;
    // top: -15vh;
    // left: -15vw;
    // padding-left: 15vw;
    transform: translateX(-100px);
    justify-content: flex-end;
  }

  &--orange {
    background-image: url('../images/poly-shape-yellow.svg');
    height: 1000px;
  }

  &--purple {
    background-image: url('../images/poly-shape-purple.svg');
  }
}

////
// Utils
////
.container {
  //max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  width: 1100px;
  margin: 150px auto;
}

////
// Hero
////
.hero {
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
 // align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  margin-bottom: 300px;
}

.hero__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  //position: relative;
  //margin-top: auto;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/poly-shape-pink-hq.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 1000px;
    top: 120px;
    z-index: -1;
    background-position: center center;
  }

  &::after {
    background-image: url('../images/stars.png');
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.7;
  }
}

.title {
  width: 55%;
  text-align: center;
  margin-top: auto;

  h1 {
    font-size: 48px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin-top: 0;
  }
  
  h2 {
    font-size: 24px;
    font-weight: 300;
  }
}

.arrow-down {
  background-image: url('../images/arrow-down.svg');
  width: 36px;
  height: 18px;
  display: block;
  margin: auto;
}

////
// Summary
////

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-reverse {
    flex-direction: row-reverse;

    .block-title__bg {
      // left: 0;
      // padding-left: 0;
      // right: -15vw;
      // padding-right: 15vw;
      transform: translateX(200px);
      justify-content: flex-start;
    }
  }
}

.summary-content {
  width: 65%;
  
  p {
    font-weight: 300;
    font-size: 20px;
  }

  p:first-of-type::first-letter {
    font-size: 120px;
    font-weight: bold;
    float: left;
    font-size: 120px;
    line-height: 80px;
    padding: 0 15px 5px 0;
  }
}

.pill-container {
  padding: 0;
}

.pill {
  display: block;
  margin-bottom: 10px;

  span {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.5px;
    line-height: 16px;
    display: inline-block;
    background: $orange;
    border-radius: 25px;
    padding: 10px;
    text-transform: uppercase;
  }
}

////
// Intro
////
.intro {
  position: relative;
  // &::after {
  //   position: absolute;
  //   content: '';
  //   bottom: 0;
  //   right: 0;
  //   background-image: url('../images/poly-shape-bg2.svg');
  //   background-repeat: no-repeat;
  //   width: 200px;
  //   height: 200px;
  // }
}

////
// Blockquotes
////
.blockquote {
  position: relative;
  width: 50%;

  &__title {
    font-size: 42px;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__divider {
    background-color: $orange;
    height: 5px;
    width: 100%;
    display: block;
  }

  &__copy {
    color: $light-grey;
  }

  &::before {
    position: absolute;
    content: '';
    right: -50px;
    top: -50px;
    background-image: url('../images/quotes.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 95px;
    height: 65px;
  }
}
////
// Solutions
////
.bg {
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  height: 800px;
  width: 600px;
  z-index: -1;
  top: 50%;
  background-size: contain;
  transform: rotate(-35deg);

  &--purple {
    background-image: url('../images/poly-shape-purple.svg');
  }

  &--blue {
    background-image: url('../images/poly-shape-blue.svg');
  }

  &--yellow {
    background-image: url('../images/poly-shape-yellow.svg');
  }

  &--transparent {
    background-image: url('../images/poly-shape-transparent.svg');
  }

  &--left {
    transform: translateX(-100%);
    //left: -50%;
  }

  &--right {
    transform: translateX(160%);
    //right: -50%;
  }

  &--top {
    top: 25%;
  }

  &--mid {
    top: 50%;
  }

  &--bottom {
    top: auto;
    bottom: -10%;
  }

  &--small {
    height: 400px;
    width: 400px;
  }

  &--center {
    top: -50%;
  }
}

.solution {
  width: 80%;
  margin: auto;

  &--wrapper {
    flex-direction: column;
    position: relative;

    .summary-content {
      height: 400px;
    }
  }

  &--title {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
  }

  &--divider {
    display: block;
    text-align: center;
  }

  &--content {
    font-size: 24px;
    letter-spacing: 0.5px;
    font-weight: 300;
  }

  &--container {
    //position: relative;
    //overflow: hidden;
    width: 100%;
  }
}

////
// Results
////
.results {
  justify-content: center;

  &__number {
    font-size: 72px;
    margin: 0;
    position: relative;
    font-weight: 800;

    &::before {
      position: absolute;
      content: '';
      display: block;
      background-image: url('../images/results-arrow.svg');
      background-repeat: no-repeat;
      background-position: center center;
      width: 50px;
      height: 50px;
      left: -50px;
    }
  }

  &__copy {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
  }
}

////
// Closing
////
.closing {
  height: 200px;
  background-image: url('../images/poly-shape-pink2.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
}

////
// Responsive
////

.container {
  width: 100%;
  max-width: 1100px;
}

// Tablet
@media screen and (max-width: 800px) {
  .container {
    margin: 50px auto;
    padding: 0 30px;
  }

  .hero__inner::before {
    width: 100%;
  }

  .title {
    width: 75%;
  }

  .summary {
    flex-direction: column;
    align-items: flex-start;
  }

  .summary-content {
    width: 100%;
  }

  .pill-container {
    column-count: 2;
  }

  .block-title__bg {
    height: 520px;
    justify-content: center;
  }

  .summary-reverse {
    .block-title__bg {
      transform: translateX(30%);
    }
  }

  .bg {
    &--right {
      transform: translateX(100%);
    }
  }

  .blockquote {
    width: 65%;
  }

  .results__content {
    padding-left: 40px;
  }
}

// Phone
@media screen and (max-width: 600px) {
  .main-menu {
    display: none; // Placeholder
  }

  .hero {
    margin-bottom: 50px;
  }

  .hero__inner::before {
    height: 650px;
  }

  .title {
    width: 90%;

    h1 {
      font-size: 32px;
    }
  
    h2 {
      font-size: 24px;
    }
  }

  .summary-content {
    p {
      font-size: 18px;
    }
  }

  .summary-reverse {
    .block-title__bg {
      transform: translateX(0);
      justify-content: center;
    }
  }

  .block-title {
    font-size: 36px;
  }

  .block-title__bg {
    height: 400px;
    transform: translateX(0);
  }

  .blockquote {
    width: 80%;
  }

  .solution {
    width: 100%;

    &--content {
      font-size: 18px;
    }

    &--divider {
      svg {
        width: 100%;
      }
    }
  }

  .results__number {
    font-size: 55px;
  }
}
