/////
// Global
////

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $black;
  color: $white;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 48px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  font-weight: 300;
}

.facet-logo {
  max-height: 55px;
  vertical-align: middle;
}


.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  position: fixed;
  z-index: 10;

  ul {
    list-style: none;

    li {
      display: inline-block;
    }
  }
}
////
// Utils
////
.container {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
}

////
// Hero
////
.hero {
  background-image: url('../images/stars.png');
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  margin-bottom: 310px;
}

.hero__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: auto;

  &::before {
    content: '';
    position: absolute;
    background-image: url('../images/poly-shape-pink.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 1000px;
    top: -120px;
    z-index: -1;
  }
}

.title {
  width: 45%;
  text-align: center;
  margin-top: 50px;
}

.arrow-down {
  background-image: url('../images/arrow-down.svg');
  width: 36px;
  height: 18px;
  display: block;
  margin: auto;
}

////
// Summary
////

.summary {
  display: flex;
  justify-content: space-between;
}

.summary-content {
  width: 50%;

  p:first-of-type::first-letter {
    font-size: 120px;
    font-weight: bold;
    float: left;
    font-size: 120px;
    line-height: 80px;
    padding-top: 4px;
    padding-right: 10px;
    padding-left: 3px;
    padding-bottom: 10px;
  }
}

.pill-container {
  padding: 0;
}

.pill {
  background: $orange;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 16px;
  display: block;
  width: auto;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 10px;
  text-transform: uppercase;
}
